<% if @comment.errors.any? %>
<ul>
  <% @comment.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>

  <% end %>
</ul>
<% end %>
<%= form_for @comment do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <hr />
  <%= f.label :comment %>
  <%= f.text_field :comment %>
  <hr />
  <%= f.submit 'Save' %>
<%  end %>
